@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

.hide-scrollbar::webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  width: 5px;
  /* background-color: rgba(128, 128, 128, 0.541); */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 114, 114, 0.499);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff6464c5;
}
